body {
    margin: 0;
    font-family: 'Overpass', sans-serif;

}


#topbar {
    height: 10em;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, white 84.7%), url("../../assets/images/adult.jpg") center center;
    backdrop-filter: blur(10px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: right;
    background-position-y: 20%;
    padding: 10px;

}


#logo {
    height: 100%;
    width: auto;
}

#topbar h1 {
    display: inline;
    padding: 10px;
    font-weight: 500;
    /*color: #8B9BBC;*/
}

nav {
    width: 100%;
    background-color: #CA1F29;
    color: white;
    float: left;

}

nav li {
    display: inline-block
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
}

nav a:hover {
    /*background-color: rgb(88, 16, 21);*/
    background-color: #eee0e0 !important;
    color: #000;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.formulaire {
    display: flex;
    width: 100%;
}

.colonne {
    padding: 0.5em;
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

footer {
    color: white;
    background-color: #42494F;
    padding: 0.3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-size: smaller;
}

footer a {
    color: #CA1F29;
    text-decoration: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}
#grade {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}