/* toute la page, définition de la police */
body {
	margin: 0;
	font-family: 'Overpass', sans-serif;
}

/* barre avec le logo et nom de la page */
#topbar {
	height: fit-content;
	background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, white 84.7%),
		url("../../assets/images/adult.jpg") center center;
	backdrop-filter: blur(10px);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position-x: right;
	background-position-y: 20%;
	padding: 10px;
}

/* logo ITESCIA */
#logo {
	max-height: 10em;
	height: 100%;
	width: auto;
}

/* titre de la page à côté du logo */
h1 {
	display: inline;
	padding: 10px;
	font-weight: 500;
	/*color: #8B9BBC;*/
}

/* si on est sur mobile */
@media screen and (max-width: 600px) {
	/*on retire le fond et réduit la taille du header */

	h1 {
		font-size: 1.5em;
	}

	#logo {
		max-height: 1.5em;
		height: 100%;
		width: auto;
	}

	#topbar {
		min-height: fit-content;
		background: white;
	}
}

/* titre de partie de formulaire */
h2 {
	font-weight: 200;
}

/* titre de section de formation */
h3 {
	font-weight: 900;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}
/* titre de formation */
h4 {
	margin-bottom: 0.4em;
	margin-top: 0.4em;
	color: #ca1f29;
	font-weight: lighter;
}

/* menu de navigation */
nav {
	width: 100%;
	background-color: #ca1f29;
	color: white;
	float: left;

	-webkit-box-shadow: 0px 13px 49px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 13px 49px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 13px 49px 0px rgba(0, 0, 0, 0.16);

	margin-bottom: 5px;
}

/* éléments du menu de navigation */
nav li {
	display: inline-block;
}

/* liens du menu de navigation */
nav a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	font-size: 1.5em;
	transition: .3s;
}

/* survol des liens du menu de navigation */
nav a:hover {
	/*background-color: rgb(88, 16, 21);*/
	background-color: #eee0e0 !important;
	color: #000;
	size: 2;
	transition: .3s;
	transform: scale(1.1);
}

/* suppression des points à toutes les listes non ordonnées */
ul {
	list-style-type: none;
}

/* suppression des bordures et marges à tous les blocks de liste */
nav ul {
	margin: 0;
	padding: 0;
}

/* conteneur des deux colonnes */
.formulaire {
	display: flex;
	width: 100%;
}

/* colonne du formulaire */
.colonne {
	padding: 0.5em;
	flex: 50%;
}

/* quand le site est sur mobile */
@media screen and (max-width: 600px) {
	/* on passe à une seule colonne */
	.colonne {
		width: 97%;
	}

	.formulaire {
		display: inline;
	}
}

/* pied de page du site */
footer {
	color: white;
	background-color: #42494f;
	padding: 0.3em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	font-size: smaller;
}

/* lien du pied de page */
footer a {
	color: #ca1f29;
	text-decoration: none;
}

/* bloc de base pour les formations */
.formations {
	border-radius: 10px;
	padding: 0.5em;
	margin-bottom: 1.5em;
	border-left: 6px solid gray;
	background-color: lightgray;
	transition: .2s;
}

/* survol du bloc de base pour les formations */
.formations:hover {
	transition: .2s;
	-webkit-box-shadow: 0px 13px 25px 3px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 13px 25px 3px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 13px 25px 3px rgba(0, 0, 0, 0.20);
}

/* couleur du bloc gestion */
#gestion {
	border-left: 6px solid #f69d25;
	background-color: #ffe7c7;
	border-radius: 10px;
}

/* couleur du bloc management */
#management {
	border-left: 6px solid #c6d300;
	background-color: #f6fab4;
	border-radius: 10px;
}

/* couleur du bloc informatique */
#informatique {
	border-left: 6px solid #23b8ed;
	background-color: #bce8f7;
	border-radius: 10px;
}

/* champs de texte */
input[type=text],
input[type=tel],
input[type=email] {
	/*border: none;
    border-left: 2px solid red;
    background-color: lightpink;
    width: max-content;*/

	width: 100%;
	border: 2px solid #e0e2ee;
	border-radius: 4px;
	margin-bottom: 3px;
	outline: none;
	padding: 6px;
	box-sizing: border-box;
	transition: .1s;
}

/* si contenu incorrect dans champ texte */
input[type=text]:invalid,
input[type=tel]:invalid,
input[type=email]:invalid {
	box-shadow: none;
	background-color: #efbbbe;
	/* fond rose/rouge pour indiquer à l'utilisateur */
}

/* quand on séléctionne le champ de texte */
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus {
	border-color: #ca1f29;
}

/* div contenant le bouton submit pour le centrer dans la page*/
#wrap-bouton {
	text-align: center;
}

/* Bouton submit en bas de page */
input[type=submit] {
	border-radius: 8px;
	border: none;
	width: 50%;
	background-color: #ca1f29;
	color: white;
	padding: 0.7em;
	margin: 1em;
	font-size: x-large;
	transition: .3s;
	font-family: 'Overpass', sans-serif;
}

/* Survol du submit */
input[type=submit]:hover {
	transition: .3s;
	transform: scale(1.1);
}

/* Si le submit est invalide (INUTILISE)*/
input[type=submit]:invalid {
	background-color: gray;
	color: gainsboro;
}

/* ronds à cliquer */
input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background: white;
	color: #ca1f29;
	top: 5px;
	height: 20px;
	width: 20px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	box-shadow: 0 1px #ca1f29, 1px 0 #ca1f29, 1px 1px #ca1f29;
	transition: .3s;
}

/* survol des ronds */
input[type=radio]:hover {
	transition: .3s;
	background-color: #efbbbe;
}

/* ajout de la checkmark au rond cliqué */
input[type=radio]:checked::before {
	position: absolute;
	font: 16px/1 'Overpass', sans-serif;
	left: 4px;
	top: 2px;
	content: '\02143';
	/* suite de caractères de la checkmark */
	transform: rotate(40deg);
	/* rotate car sinon la checkmark est à un angle droit*/
	transition: .3s;
}

/* menus déroulants */
select,
input[type=date] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* on retire la fleche de base pour rajouter la notre */

	font-family: 'Overpass', sans-serif;
	width: 17%;
	overflow: auto;
	border: 2px solid #e0e2ee;
	border-radius: 4px;
	padding: 6px;
	box-sizing: border-box;
	transition: .2s;
}

/* menu déroulant séléctionné */
select:focus {
	border-color: #ca1f29;
}

/* ajout de la flèche personnalisée au rond cliqué */
select {
	min-width: 110px;
	/* ajout de la flèche personnalisée au rond cliqué */
	background: url("/assets/images/fleche.svg") 96% / 15% no-repeat #ffffff;
}

input[type=date] {
	min-width: 120px;
}

/* texte des boutons, champs de texte...*/
label {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

/* pour les labels dans les choix de formations (à gauche)*/
.formations label {
	margin-top: 0em;
}
